---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import NavSidebar from '../components/NavSidebar.astro';
import Footer from '../components/footer/Footer.astro';
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} | Tiny Leaders Reborn</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">

    <script is:inline>
      const theme = localStorage.getItem('theme') || 'dark';
      document.documentElement.setAttribute('data-theme', theme);
    </script>
  </head>
  <body>
    <Navigation />
    
    <NavSidebar />    

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>

<style>
  /* MAIN CONTENT */
  main {
    flex: 1;
    padding: 6rem 1.5rem 4rem 1.5rem; /* Increased top padding for the header */
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }

</style>